<mat-card flex=100>
    <form (submit)="onAddItem(groceryItemForm)" #groceryItemForm="ngForm" fxLayout="row">
        <mat-form-field fxFlex="100%" fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
            <input
                matInput
                type="text"
                id="name"
                [(ngModel)]="model.name"
                name="name"
                #name="ngModel"
                required
                minlength="1"
                placeholder="Grocery Item"
                required>
                <mat-error
                    *ngIf="name.invalid">
                    Please enter a grocery item.
                </mat-error>
        </mat-form-field>

        <button
            mat-icon-button
            [disabled]="!groceryItemForm.form.valid"
            flex=20
            color="accent"
            type="submit"
            aria-label="Create grocery item">
            <mat-icon>add</mat-icon>
        </button>
    </form>
</mat-card>
