
<mat-list-item fxLayout="column">
    <div fxLayout="row" fxFlexFill>
        <div fxLayout="column" fxFlex="0 1 66" fxLayoutAlign="start start">
            <div *ngIf="isEditing; else nameBlock" flex=66>
                <mat-form-field fxFlex="100%">
                    <input
                        matInput
                        type="text"
                        required
                        #editName
                        [(ngModel)]="listItem.name"
                        (blur)="updateItem(listItem)"
                        (keyup.enter)="editName.blur()"
                        minlength="1"
                        placeholder="Grocery Item"
                        required>
                </mat-form-field>
            </div>      
            <ng-template #nameBlock>
                <p flex=66>{{listItem.name}}</p>
            </ng-template>
        </div>
        <span fxFlex="1 1 auto"></span>
        <div fxFlex="0 0 auto">
            <button
                mat-icon-button
                (click)="enableEdit()"
                flex=20
                color="accent"
                aria-label="Edit grocery item">
                <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="deleteItem(listItem)"
                flex=20
                color="accent"
                aria-label="Delete grocery item">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-list-item>
